li.li-for-language-flag {
	display: flex;
	align-items: center;
}

li.li-for-language-flag > img {
	margin-right: 4px;
}

li.li-for-language-flag span {
	margin: 0 3px;
}

.select-flag-item {
	display: flex;
	align-items: center;
}

.select-flag-item > img {
	display: block;
	margin-right: 4px;
}

.select-flag-item > span {
	display: block;
}
