*{
	margin:0;
	padding:0;

	font-size:16px;
	user-select:none;
}

ul{
	list-style:none;
}

select,input{
	box-sizing:border-box;
}

a{
	text-decoration:none;
}


#app {
	height: 100%;
}

.UI {
	background-color: #a5bad0;
}

