*{
	margin:0;
	padding:0;

	font-size:16px;
	user-select:none;
}

ul{
	list-style:none;
}

select,input{
	box-sizing:border-box;
}

a{
	text-decoration:none;
}

#app {
	height: 100%;
}


.UI {
	background-color: #a5bad0;
}

/********************antd***********************/

.ant-cascader-picker{
	width:130px;
}

.ant-calendar-picker{
	width:130px;
}

	.ant-calendar-picker[tabindex]{
		width:300px;
	}

	li,span{
		font-size:14px;
	}

@font-face {
	font-family: 'anticon';
	src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.eot');
	/* IE9*/
	src: url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.ttf') format('truetype'), /* iOS 4.1- */ url('https://at.alicdn.com/t/font_148784_v4ggb6wrjmkotj4i.svg#iconfont') format('svg');
}

.anticon {
	display: inline-block;
	font-style: normal;
	vertical-align: baseline;
	text-align: center;
	text-transform: none;
	line-height: 1;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

	.anticon:before {
		display: block;
		font-family: "anticon" !important;
	}

.anticon-info-circle:before {
	content: "\e628";
}

.anticon-info-circle-o:before {
	content: "\e629";
}

.anticon-exclamation-circle:before {
	content: "\e62c";
}

.anticon-exclamation-circle-o:before {
	content: "\e62d";
}

/********************antd***********************/