.header {
	height: 130px;
	background-image: url(./images/header.png);
	text-align:center;
}

	.header > img {
		display: inline-block;
		height: 80px;
	}

	.header ul {
		display: inline-block;
	}

		.header ul li {
			/*padding: 15px;*/
			height: 130px;
			width: 110px;
			line-height: 38px;
			text-align: center;
			color: #fff;
			display: inline-block;
			font-size: 16px;
			font-family: 'Microsoft YaHei';
			cursor: pointer;
		}
			.header ul li.active {
				background-image: url(./images/mfr1bg.png);
			}
			.header ul li:hover {
				background-image: url(./images/mfr1bg.png);
			}

	.header a {
		color: #fff;
		width: 100%;
		height: 100%;
		display: inline-block;
	}

		.header a > img {
			margin-top: 15px;
		}

.header .menu-list-container{
	margin-left:30px;
}