// ************变量群组******************
//整个组件高度
$height: 30px;

//屏幕分辨率容器最小宽度
$maxWidth: 1180px;

//分割线高度
$spliterHeight: 20px;

//按钮及全部分类的颜色
$allColor: #00c9f0;
$allColor2: #00c9ff;

// ************变量群组******************
.top-header {
	display: flex;
	justify-content: center;
	height: $height;
	border-bottom: solid 1px #eceff0;
	font-size: 11px;
	line-height: $height;
}

.top-header span {
	cursor: pointer;
	color: #666;
	&:hover {
		color: #389edc;
	}
}

.screen-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: $maxWidth;
	position: relative;
}

.top-header .spliter {
	display: block;
	width: 1px;
	height: $spliterHeight;
	background-color: #eee;
	margin-top: ($height - $spliterHeight)/2;
}

.top-header i {
	display: block;
	width: 20px;
	height: 20px;
	margin: 0 5px;
	margin-top: ($height - 20px)/2;
	background-repeat: no-repeat;
	background-attachment: scroll;
}
// ********************************************
i.loc {
	background-image: url("./img/locationIcon.png");
	background-position: 5px 4px;
}

i.right-arrow {
	background-image: url("./img/arrow0.png");
	background-position: 5px -2px;
	transition: 0.3s;
}

.left-location-container {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	width: 110px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	background-color: #fff;
	border-left: solid 1px transparent;
	border-right: solid 1px transparent;
	&:hover {
		overflow: unset;
		border-left: solid 1px #007bc7;
		border-right: solid 1px #007bc7;
		border-bottom: solid 1px #fff;
	}
	&:hover .currloc {
		color: #389edc;
	}
	&:hover .alllocations {
		height: 180px;
	}
	&:hover i.loc {
		background-position: 5px -14px;
	}
	&:hover i.right-arrow {
		background-image: url("./img/arrow1.png");
		background-position: 0px -1px;
		transform: rotate(180deg);
	}
}

.left-location-container .displayer {
	display: flex;
	justify-content: flex-start;
	z-index: 2;
	flex-basis: 100%;
	position: relative;
	background-color: #fff;
}

.left-location-container .spliter {
	position: absolute;
	right: 0px;
}

.alllocations {
	display: flex;
	justify-content: center;
	text-align: center;
	flex-wrap: wrap;
	flex-basis: 100%;
	width: 400px;
	height: 0;
	position: absolute;
	top: 29px;
	left: -1px;
	background-color: #fff;
	transition: 0.3s;
	border: solid 1px #007bc7;
	overflow: hidden;
	z-index: 1;
}

.alllocations span {
	flex-basis: 12%;
	margin-right: 3%;
}

.right-links {
	display: flex;
	justify-content: center;
}

.right-links span {
	margin: 0 10px;
}
// --------------------------------
.top-bar {
	display: flex;
	justify-content: center;
	height: 123px;
}

.top-bar > .screen-container {
	flex-wrap: wrap;
	align-items: flex-end;
}

.top-bar .logo-and-searcher {
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

#logo {
	width: 300px;
	height: 31px;
	margin: 10px;
	margin-left: 0;
}

.searcher {
	display: flex;
	height: 40px;
	line-height: 30px;
	margin-top: 16px;
}

.searcher > input {
	width: 340px;
	height: 30px;
	line-height: 30px;
	padding: 4px;
	border: solid 1px $allColor;
	text-indent: 14px;
	font-size: 14px;
	&:focus {
		outline: none;
	}
}

.searcher > .btn {
	cursor: pointer;
	font-size: 14px;
	line-height: 40px;
	color: #fff;
	text-align: center;
	background-color: $allColor;
	padding: 0 20px;
	width: 40px;
}

.top-bar .left-and-menu {
	flex-basis: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.left-and-menu .allClass {
	width: 220px;
	height: 40px;
	background-color: $allColor2;
	color: #fff;
	line-height: 40px;
	font-size: 15px;
	text-align: center;
	background-image: url("./img/navicon_new_427.png");
	background-repeat: no-repeat;
	background-position: 36px 15px;
	cursor: pointer;
}

.left-and-menu .menu span {
	cursor: pointer;
	margin: 0 15px;
}

.left-and-menu .menu span.active {
	color: $allColor2;
}

.left-and-menu .menu span.tel {
	font-weight: bold;
	color: #666;
	padding-left: 28px;
	background-image: url("./img/navicon_new_427.png");
	background-repeat: no-repeat;
	background-position: 0 -31px;
}
