
.left-menu *{
transition:.4s;
}

.left-menu {
	float: left;
	background-color: #a5bad0;
	width: 220px;
}

.left-menu-level1 {
	position:relative;
}

	.left-menu .left-menu-level1 > li {
		width: 220px;
		height: 48px;
		line-height: 48px;
		text-indent: 3em;
		border-bottom: solid 2px #b7cbdf;
	}

		.left-menu .left-menu-level1 > li.active {
			background-color: #fff;
			border-left: solid 5px orange;
			height: 100%;
		}

	.left-menu .left-menu-level1 li.active > a {
		color: #108803;
		font-weight: bold;
	}

	.left-menu .left-menu-level1 li > a {
		display: block;
		color: #484848;
		font-size: 16px;
		width: 100%;
		height: 100%;
	}

	.left-menu .menu-title {
		height: 70px;
		line-height: 70px;
		border-bottom: solid 2px #b7cbdf;
		color: #34619c;
		font-weight: bold;
	}

		.left-menu .menu-title img {
			margin-left: 40px;
			margin-right: 20px;
			position: relative;
			top: 3px;
		}

		.left-menu .menu-title span {
			font-size: 20px;
			display: inline-block;
		}

		/**************************************/

.with-left-menu {
	margin-left: 225px;
	padding-top: 15px;
	background-color: #fff;
	height: 100%;
}


ul.left-menu-level2 {
	display:block;
	position:relative;
	left:-5px;
}

	ul.left-menu-level2 > li {
		background-color: #fff;
		border-left: solid 5px orange;
		width: 100%;
		text-indent:4em;
	}

		ul.left-menu-level2 > li > a {
			color: #007295;
			font-weight: lighter;
		}

.left-menu .left-menu-level2 li.active > a{
	font-weight:normal;
	color: #007295;
	cursor: default;
}

/**********************动画部分**************************/

.menu-level1-enter,
.menu-level1-appear {
	right: 80px;
	transition: .4s;
}

	.menu-level1-enter.menu-level1-enter-active,
	.menu-level1-appear.menu-level1-appear-active {
		right: 0;
		transition: .4s;
	}

.menu-level1-leave {
	right: 0;
	transition: .4s;
}

	.menu-level1-leave.menu-level1-leave-active {
		right: 80px;
		transition: .4s;
	}



.menu-level2-enter > li,
.menu-level2-appear > li {
	height: 0;
	transition: .2s;
}

.menu-level2-enter.menu-level2-enter-active > li,
.menu-level2-appear.menu-level2-appear-active > li {
	height: 48px;
	transition: .2s;
}

.menu-level2-leave > li {
	height: 48px;
	transition: .2s;
}

.menu-level2-leave.menu-level2-leave-active > li {
	height: 0;
	transition: .2s;
}
