

.top-bar-ul{
	font-size:16px;
}

.top-bar-ul li{
	display:inline-block;
	margin-left:20px;
	margin-top:10px;
}

	.top-bar-ul >li label {
		display: inline-block;
		margin-right: 10px;
		font-size: 14px;
	}

	.top-bar-ul > li > input,
	.top-bar-ul > li > select {
		box-sizing: border-box;
		font-size: 14px;
		width: 130px;
		height: 30px;
		text-indent: 0.5em;
	}

.top-bar-btn {
	color: #fff;
	background-color: #34619B;
	padding: 3px 10px;
	cursor: pointer;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	border-radius: 5px;
	user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

	.top-bar-btn:hover {
		background-color: #21508C;
	}

	.top-bar-btn:active {
		background-color: #3A6DAE;
	}





