
.roof {
	background-color: #12355e;
	color: #6aa3f0;
	height: 2em;
	line-height: 2em;
	text-align: right;
}

.roof-container{
	float:right;
}

	.roof span {
		display: inline-block;
		height: 2em;
		line-height: 2em;
		margin-right:1.5em;
		float:left;
	}

	.roof .icon {
		display: inline-block;
		width: 24px;
		height: 2em;
		cursor: pointer;
		background-position: 50%;
	}

.icon.analyze {
	background-image: url(./icon/analyze.png);
	background-repeat: no-repeat;
}

	.icon.analyze:hover {
		background-image: url(./icon/analyze-active.png);
	}

.icon.admin {
	background-image: url(./icon/admin.png);
	background-repeat: no-repeat;
}

	.icon.admin:hover {
		background-image: url(./icon/admin-active.png);
	}

.icon.user {
	background-image: url(./icon/user.png);
	background-repeat: no-repeat;
}

	.icon.user:hover {
		background-image: url(./icon/user-active.png);
	}

.icon.exit {
	background-image: url(./icon/exit.png);
	background-repeat: no-repeat;
}

	.icon.exit:hover {
		background-image: url(./icon/exit-active.png);
	}