.top-bread-crumb-container {
	display: block;
	padding: 4px 18px;
	background-color: #fff;
}

.top-bread-crumb-content {
	display: flex;
	align-items: center;
	height: 24px;
	padding-bottom: 8px;
	border-bottom: solid 1px #ccc;
}

.top-bread-crumb-container img {
	display: block;
	width: 12px;
	height: 16px;
	margin-right: 6px;
}

.top-bread-crumb-container span.location-text {
	font-size: 14px;
}
